/* Following rule needs to be applied on the logo graphic.  */
#logo-image {
  height: 40px;
  width: 40px;
}
/* Following rule needs to be applied on <nav>  */
nav {
  border: 2px solid;
  background-color: lightblue; 
}
/* Following rule needs to be applied on <ul>/<ol> which is a child element of <nav>  for navigation links.  */
#nav-links {
  display: flex;
  justify-content: space-evenly;
}
/* Following rule needs to be applied to <img> used for social media links in footer section.  */
.social-media-icons {
  height: 15px;
  width: 15px;
}
/* Following rule needs to be applied to <ul>/<ol> used for navigation link list and social media link list.  */
.list-type {
  list-style-type: none;
}
/* Note: in case you have used type="none" attribute to respective lists then kindly remove the same.  */
/* Following rule needs to be applied on the <main> */
main {
  text-align: center;
}
/* Following rule needs to be applied on all the images used in <main> accross all the webpages. */
.main-images {
  height: 300px;
  width: 350px;
}
/* Following rule needs to be applied on the <footer> section accross all the webpages  */
footer {
  background-color: lightblue;
  border-top: 2px;
}
